html {
  font-family: sans-serif;
  font-size: 14px;
}

.main-container {
  text-align: center;
}

table {
  border: 1px solid lightgray;
  max-width: 800px;
  margin: 0 auto;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td {
  width: fit-content;
  padding: 5px 20px;
  border: 1px solid lightgray;
  text-align: start;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
.input-main {
  padding: 8px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
